@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-accent: #06b6d4;
  --color-dark: #000000;
  --color-light: #f8fafc;
}

body {
  margin: 0;
  font-family: 'Inter', 'Outfit', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-light);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
